In [1]:
from datetime import datetime

In [2]:
import numpy as np

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 5, 25, 12, 5, 40, 687072)

In [5]:
now.year, now.month, now.day

(2019, 5, 25)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24)
delta

datetime.timedelta(927)

In [7]:
delta.days

927

In [8]:
delta.seconds

0

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
%U

UsageError: Line magic function `%U` not found.

In [14]:
datetime.strptime(now, '%Y-%m-%d', '%U')

TypeError: strptime() takes exactly 2 arguments (3 given)

In [15]:
nowtime = datetime(2019, 5, 25)

In [16]:
datetime.strptime(nowtime, '%Y-%m-%d', '%U')

TypeError: strptime() takes exactly 2 arguments (3 given)

In [17]:
datetime.strptime(nowtime, '%U')

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [18]:
datetime.strptime(nowtime, '%Y-%m-%d')

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [19]:
value = '2019-05-25'

In [20]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2019, 5, 25, 0, 0)

In [21]:
datetime.strptime(value, '%Y-%m-%d','%U')

TypeError: strptime() takes exactly 2 arguments (3 given)

In [22]:
datetime.strptime(value,'%U')

ValueError: unconverted data remains: 19-05-25

In [23]:
from dateutil.parser import parse

In [24]:
parse('2019-05-25')

datetime.datetime(2019, 5, 25, 0, 0)

In [25]:
from datetime import datetime

In [26]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

NameError: name 'pd' is not defined

In [27]:
import pandas as pd

In [28]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.652095
2011-01-05    0.184255
2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [29]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [30]:
ts[::2]

2011-01-02   -0.652095
2011-01-07   -0.985470
2011-01-10    0.239301
dtype: float64

In [31]:
ts + ts[::2]

2011-01-02   -1.304189
2011-01-05         NaN
2011-01-07   -1.970940
2011-01-08         NaN
2011-01-10    0.478601
2011-01-12         NaN
dtype: float64

In [32]:
ts + ts[::2]

2011-01-02   -1.304189
2011-01-05         NaN
2011-01-07   -1.970940
2011-01-08         NaN
2011-01-10    0.478601
2011-01-12         NaN
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
ts

2011-01-02   -0.652095
2011-01-05    0.184255
2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [35]:
stamp = ts.index[0]

In [36]:
stamp

Timestamp('2011-01-02 00:00:00')

In [37]:
stamp = ts.index[2]

In [38]:
stamp

Timestamp('2011-01-07 00:00:00')

In [39]:
ts['1/10/2011']

0.2393006550896673

In [40]:
ts['20110110']

0.2393006550896673

In [41]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000)
longer_ts

SyntaxError: invalid syntax (<ipython-input-41-b234d48107d9>, line 3)

In [42]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.597252
2000-01-02   -0.362510
2000-01-03   -0.715222
2000-01-04   -2.171543
2000-01-05    0.811210
2000-01-06   -0.583126
2000-01-07   -0.483083
2000-01-08    1.132976
2000-01-09   -0.464239
2000-01-10   -0.673721
2000-01-11   -0.015863
2000-01-12    1.279497
2000-01-13    0.155257
2000-01-14   -0.373558
2000-01-15    1.332254
2000-01-16    2.459343
2000-01-17    0.683871
2000-01-18   -0.926073
2000-01-19    0.572875
2000-01-20   -1.510128
2000-01-21    0.701646
2000-01-22    2.881799
2000-01-23   -1.235806
2000-01-24    0.873248
2000-01-25    1.333695
2000-01-26   -1.074272
2000-01-27   -0.989768
2000-01-28    0.599946
2000-01-29   -1.006305
2000-01-30   -1.507767
                ...
2002-08-28    0.671667
2002-08-29   -1.766234
2002-08-30   -1.388992
2002-08-31   -2.987406
2002-09-01    1.482005
2002-09-02   -1.566473
2002-09-03   -0.107481
2002-09-04   -2.123312
2002-09-05    0.177594
2002-09-06   -1.102262
2002-09-07   -0.919441
2002-09-08   -2.004709
2002-09-09   -0.559897
2002-09-10    1.046364
2002-09-11    0.199167
2002-09-12    0.550864
2002-09-13    0.492790
2002-09-14   -0.541909
2002-09-15   -0.841464
2002-09-16    1.112981
2002-09-17   -2.131246
2002-09-18   -2.599616
2002-09-19    0.998669
2002-09-20    0.998760
2002-09-21    0.812293
2002-09-22   -1.867862
2002-09-23    0.281539
2002-09-24    0.342207
2002-09-25    0.518929
2002-09-26   -0.056809
Freq: D, Length: 1000, dtype: float64

In [43]:
longer_ts['2001']

2001-01-01   -0.724858
2001-01-02    1.309280
2001-01-03    0.121080
2001-01-04   -0.598712
2001-01-05   -0.901630
2001-01-06   -0.416752
2001-01-07    0.463692
2001-01-08    0.099751
2001-01-09    1.608010
2001-01-10    1.450979
2001-01-11    0.120601
2001-01-12   -0.972499
2001-01-13    1.540494
2001-01-14   -0.461480
2001-01-15    1.102865
2001-01-16    1.348378
2001-01-17   -0.384509
2001-01-18   -0.071738
2001-01-19   -0.987363
2001-01-20    0.551152
2001-01-21    1.167321
2001-01-22    0.938199
2001-01-23    1.777994
2001-01-24   -0.569056
2001-01-25    2.213828
2001-01-26   -0.257131
2001-01-27    1.470446
2001-01-28    0.233445
2001-01-29    0.931260
2001-01-30   -0.418338
                ...
2001-12-02    0.580996
2001-12-03   -1.273838
2001-12-04   -1.973168
2001-12-05   -0.939148
2001-12-06   -0.838736
2001-12-07   -0.117361
2001-12-08    1.309050
2001-12-09    0.023532
2001-12-10    0.201818
2001-12-11   -0.254398
2001-12-12    1.471189
2001-12-13    0.178164
2001-12-14    0.945264
2001-12-15    0.355300
2001-12-16   -0.508761
2001-12-17   -0.231067
2001-12-18    0.992342
2001-12-19   -1.169458
2001-12-20   -0.700109
2001-12-21   -0.838896
2001-12-22   -0.893075
2001-12-23   -0.497700
2001-12-24   -0.324752
2001-12-25    0.444306
2001-12-26    1.501647
2001-12-27    2.132448
2001-12-28    0.798162
2001-12-29    1.210158
2001-12-30    0.140488
2001-12-31    0.252392
Freq: D, Length: 365, dtype: float64

In [44]:
longer_ts['2001-05']

2001-05-01   -0.723331
2001-05-02   -1.635411
2001-05-03    0.088161
2001-05-04    1.096080
2001-05-05    1.135455
2001-05-06    1.879701
2001-05-07   -2.150783
2001-05-08   -0.773094
2001-05-09    1.292992
2001-05-10    0.661628
2001-05-11    0.668804
2001-05-12    0.676831
2001-05-13    0.791892
2001-05-14    0.101487
2001-05-15   -0.401437
2001-05-16    1.452912
2001-05-17   -0.128689
2001-05-18    0.070002
2001-05-19    2.143776
2001-05-20   -0.632343
2001-05-21   -0.091967
2001-05-22    0.949713
2001-05-23   -1.487159
2001-05-24    1.770612
2001-05-25    0.455778
2001-05-26   -1.097949
2001-05-27   -0.034726
2001-05-28    0.419825
2001-05-29   -0.870388
2001-05-30    1.123894
2001-05-31    0.634202
Freq: D, dtype: float64

In [45]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [46]:
ts[datetime(2011, 1, 7):2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [47]:
ts[datetime(2011, 1, 7)::]

2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [48]:
ts

2011-01-02   -0.652095
2011-01-05    0.184255
2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [49]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
dtype: float64

In [50]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
dtype: float64

In [51]:
ts

2011-01-02   -0.652095
2011-01-05    0.184255
2011-01-07   -0.985470
2011-01-08    0.598371
2011-01-10    0.239301
2011-01-12   -1.363659
dtype: float64

In [52]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.652095
2011-01-05    0.184255
2011-01-07   -0.985470
2011-01-08    0.598371
dtype: float64

In [53]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED') 
long_df = pd.DataFrame(np.random.randn(100, 4),
             index=dates,
             columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.906369  0.530679 -0.940639 -0.530921
2001-05-09  1.156821 -0.136046  1.092561 -0.408610
2001-05-16 -0.511380 -0.827585 -0.554687 -0.243324
2001-05-23 -0.497442 -0.214206  0.794508  0.623721
2001-05-30  1.156504  0.133060  0.884462 -0.993192

In [54]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [55]:
dup_ts.index.is_unique

False

In [56]:
dup_ts['1/3/2000']

4

In [57]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [58]:
grouped = dup_ts.groupby(level=0)

In [59]:
grouped

In [60]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [61]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64